extends layout

block content
  .container.py-4
    h1.h3.text-center.mb-3
      i.fa-solid.fa-basketball.text-warning.me-2
      | #{pageHeader.title}
    p.text-center.text-muted.mb-4= pageHeader.strapline

    .table-responsive
      table.table.table-striped.table-hover.table-bordered.align-middle
        thead.table-dark
          tr.text-center
            th Team
            th Seeding
            th Conference
            th Wins
            th Losses
            th Win %
        tbody
          each s in stats
            tr.text-center
              td= s.team
              td= s.seeding
              td= s.conference
              td= s.wins
              td= s.losses
              td= s.winPct
