extends layout

block content
  h1= pageHeader.title
  p= pageHeader.strapline

  table
    thead
      tr
        th Team
        th Standings
        th Wins
        th Losses
        th Win %
        th Conference
    tbody
      each team in stats
        tr
          td= team.team
          td= team.standings
          td= team.wins
          td= team.losses
          td= team.winPct
          td= team.conference

  br
  a(href="/") ← Back to Teams
  a(href="/stats/east" style="margin-left: 2rem") Go to East →
